<div class="col-lg-8 mx-auto p-3 py-md-5">
  <header class="d-flex align-items-center pb-3 mb-5 border-bottom"></header>

  <main>
    <h1>Admin Dashboard.</h1>
    <p class="fs-5 mb-5">
      View all tickets & Update the status of the tickets.
    </p>

    <div class="mb-5">
      <a
        routerLink="/viewticket"
        routerLinkActive="router-link-active"
        class="btn btn-primary btn-lg px-4"
      >
        View Tickets
      </a>
    </div>
  </main>
  <footer class="pt-5 my-5 text-muted border-top">
    Created by the Bootstrap team &middot; &copy; 2021
  </footer>
</div>
