<div class="col-lg-8 mx-auto p-3 py-md-5">
  <header class="d-flex align-items-center pb-3 mb-5 border-bottom"></header>

  <main>
    <h1>Submit A Ticket.</h1>

    <p class="">
      Submit a ticket & we will get back to you soon. If you have already opened
      a support ticket recently, please do not create additional tickets for the
      same inquiry. This will help speed up response time. We ask for your
      patience in these challenging times, and we apologize for any
      inconvenience.
    </p>

    <!-- <a
        routerLink="/createticket"
        routerLinkActive="router-link-active"
        class="btn btn-primary btn-lg px-4"
      >
        Create A Ticket
      </a> -->

    <!-- Create A Ticket Button -->
    <button
      mat-raised-button
      color="primary"
      routerLink="/createticket"
      style="margin-top: 10px; margin-right: 10px"
    >
      Create A Ticket
    </button>

    <!-- View Tickets Button -->
    <button
      mat-raised-button
      color="primary"
      routerLink="/viewtickets"
      style="margin-top: 10px; margin-right: 10px"
    >
      View Tickets
    </button>

    <!-- Track Tickets Button -->
    <button
      mat-raised-button
      color="primary"
      routerLink="/track-your-ticket"
      style="margin-top: 10px; margin-right: 10px"
    >
      Track Your Ticket
    </button>
  </main>
  <footer class="pt-5 my-5 text-muted border-top">
    Created by the Bootstrap team &middot; &copy; 2021
  </footer>
</div>
