<div class="col-lg-8 mx-auto p-3 py-md-5">
  <header class="d-flex align-items-center pb-3 mb-5 border-bottom"></header>

  <main>
    <h1>Track Your Ticket.</h1>

    <form
      [formGroup]="categoryForm"
      (submit)="onSubmit()"
      #form="ngForm"
      class="border-bottom pb-3 mb-5"
    >
      <!-- ID Input -->
      <div class="mb-3">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label for="id">ID</mat-label>
          <input matInput formControlName="id" />
          <mat-error *ngIf="hasError('id', 'required')"
            >ID is required</mat-error
          >
        </mat-form-field>
      </div>

      <!-- Submit Button -->
      <button
        mat-raised-button
        color="primary"
        type="submit"
        class="btn btn-primary"
        [disabled]="!categoryForm.valid"
        style="margin-right: 5px"
      >
        Submit
      </button>

      <!-- Back Button -->
      <button mat-raised-button [routerLink]="['/viewtickets']">Back</button>
    </form>

    <div [hidden]="isShowDiv" class="border-bottom mb-3">
      <h1>Ticket Status.</h1>

      <!-- View Ticket Button -->
      <button
        mat-raised-button
        color="primary"
        (click)="openDialog(localStorageID)"
      >
        View Ticket Details
      </button>

      <mat-stepper [selectedIndex]="currentStep" [linear]="true" #stepper>
        <mat-step>
          <ng-template matStepLabel>Open</ng-template>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>In Progress</ng-template>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Closed</ng-template>
        </mat-step>
      </mat-stepper>
    </div>
    <div class="mb-3 border-bottom">
      <app-status-comment-list></app-status-comment-list>
    </div>

    <h1>{{ text }}</h1>
  </main>
  <footer class="pt-5 my-5 text-muted border-top">
    Created by the Bootstrap team &middot; &copy; 2021
  </footer>
</div>
